<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bootstrap/css/nav.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>

    <script src="{{ site.baseurl }}/bootstrap/js/jquery-1.9.1.js"></script>
    <script src="{{ site.baseurl }}/bootstrap/js/bootstrap.js"></script>
</head>


<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/authManage" id="authManage">AuthManage</a>
            <!-- <a class="blog-nav-item" href="/akka" id="akka">Akka</a>
            <a class="blog-nav-item" href="/akka" id="taskContainer">TaskContainer</a> -->
            <a class="blog-nav-item" href="/blog" id="blog">Blog</a>
            <a class="blog-nav-item" href="http://www.appinn.com/markdown/" id="blog" target="_blank">Markdown</a>
            <!--<a class="blog-nav-item" href="about.html">About</a>-->
        </nav>
    </div>
</div>


<div id="main" role="main" class="container">
    {{ content }}
</div>

<div class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include svg-icons.html %}
        </footer>
    </div>
</div>
{% include analytics.html %}
<div style="display: none" id="myNav">{% if page.active %}{{ page.active }} {% endif %}</div>
<script>
    $(function () {
        var nav = $("#myNav").html();
        $("#" + nav).attr("class", "blog-nav-item active");
    });
</script>
</body>
</html>
