<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bootstrap/css/nav.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>

    <script src="{{ site.baseurl }}/bootstrap/js/jquery-1.9.1.js"></script>
    <script src="{{ site.baseurl }}/bootstrap/js/bootstrap.js"></script>
</head>


<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="index.html">Home</a>
            <a class="blog-nav-item" href="project.html">Project</a>
            <a class="blog-nav-item" href="akka.html">Akka</a>
            <a class="blog-nav-item" href="note.html">Note</a>
            <!--<a class="blog-nav-item" href="about.html">About</a>-->
        </nav>
    </div>
</div>


<div id="main" role="main" class="container">
    {{ content }}
</div>

<div class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include svg-icons.html %}
        </footer>
    </div>
</div>

{% include analytics.html %}
</body>
</html>
